body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://media.istockphoto.com/id/1332612598/photo/brown-watercolour-background-watercolour-painting-soft-textured-on-wet-white-paper-background.jpg?b=1&s=170667a&w=0&k=20&c=L5EFzzs5KCNjANzBZuxnYEHdVMVnsPhicQqvzfwCGos=");
}

.price{
    color: darkgreen;
}

.name {
    font-family: "Arial Black";
    color: saddlebrown;
}

h1 {
    width:500px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: xxx-large;
    text-shadow: 2px 2px 8px black;
}

h2 {
    text-align: center;
    color: saddlebrown;
    font-family: "Arial Black";
    text-shadow: 2px 2px 8px white;

}

ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    border: 2px solid saddlebrown;
    margin-bottom: 12px;
    display: inline-grid;
    margin-right: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

#header-background {
    width: 100%;
    height: 400px;
    background-image: url('https://i.ytimg.com/vi/pV_uptrUo8k/maxresdefault.jpg');
    margin-bottom: 50px;
    box-shadow: 0 0 100px 2px;
    background-color: dimgrey;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

#button {
    margin-left: 215px;
}

.filter:hover{
    font-size: medium;
}

.filter {

    background-color: saddlebrown;
    color: white;
    border: 1px solid black;
    border-radius: 30px;
}

footer {
    font-family: cursive;
}
