body {
    font-family: 'Open Sans', sans-serif;

}

.price{
    color: darkgreen;
}

.name {
    font-style: oblique;
    
}

h1 {
    width:500px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: xxx-large;
    text-shadow: 2px 2px 8px black;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 10px; /* Remove padding */
    margin: 0; /* Remove margins */
    width: 100%;
    height: 400px;
}

li {
    border: 2px solid black;
    margin-bottom: 12px;
    display: inline-grid;
    margin-right: 10px;
    padding: 10px;
    background-image: url("https://img2.exportersindia.com/product_images/bc-small/2020/7/7014895/jk-brown-marble-slab-1594894419-5522243.jpeg");

}

#header-background {
    width: 100%;
    height: 400px;
    background-image: url('https://www.flytap.com/-/media/Flytap/new-tap-pages/destinations/europe/denmark/copenhagen/destinations-copenhagen-banner-mobile-1024x553.jpg');
    margin-bottom: 50px;
    box-shadow: 0 0 100px 2px;
    background-color: dimgrey;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

button {
    margin-bottom: 10px;
    color: darkblue;
    box-shadow: black;
    border-radius: initial;

}


.filter:hover{
    color: darkblue;
    font-size: medium;
}
